{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Forgot Password</title>
    <link href="{% static 'css/buttonlikelink.css' %}" rel="stylesheet">    
</head>
<body>
    <br><br>
    <div class="container" style="background-color: rgba(112, 255, 219, 0.062);">
        <br>
        <h4 style="text-align: center;"><a href="{% url 'home' %}" style="color: black;">AIYAGRAMART </a>|<u> Forgot Password</u></h4>
        {% if email_verification %}
            <form action="{% url 'emailverification' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter your registered email address" required aria-describedby="idd">
                {% if email_does_not_exist %}
                <div id="idd" class="form-text">
                  No account found linked with given email address.
                </div>
                {% endif %}
                </div>
                <input type="hidden" name="type" value="2">
                <button type="submit" class="btn btn-success">Send OTP</button>           
                <a href="{% url 'login_page' %}" style="float: right;">Login</a>
            </form>
        {% endif %}

        {% if otp_verification %}
            <form action="{% url 'otpverification' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="otp" class="form-label">Enter the OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" aria-describedby="otp_1" placeholder="Enter the OTP sent to your email address"  required>
                    <div id="otp_1" class="form-text">
                        {% if wrong_otp %}
                            OTP doesn't matched, Try Again, 
                        {% endif %}
                        {% if time_exceeded %}
                            OTP has been expired, we have sent a new otp to your email, check it and re enter otp. 
                        {% else %}
                            Expires in 10 minutes.
                        {% endif %}
                    </div>
                </div>
                <input type="hidden" name="type" value="2">
                <button type="submit" class="btn btn-success">Verify OTP</button>
            </form>
            <form action="{% url 'emailverification' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="email" value={{email}}>
                <input type="hidden" name="type" value="2">
                <button type="submit" id="mybutton" style="float: right;">Resend OTP</button>
            </form>
            <br>
        {% endif %}

        {% if reset_password %}
            <form action="{% url 'reset_password' %}" method="POST" onsubmit="return validate()">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value={{email}} readonly>
                </div>
                <div class="mb-3">
                <label for="password1" class="form-label">New Password</label>
                <input type="password" class="form-control" name="password1" id="password1" aria-describedby="passwordHelpBlock" placeholder="Enter a strong new Password" required>
                <div id="passwordHelpBlock" class="form-text">
                    Password must have minimum 8 characters with special symbols.
                </div>
                <input type="checkbox" onclick="ShowPassword('password1')">  Show Password
                <br>
                </div>
                <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm the password typed above" required>
                </div>
                <button type="submit" class="btn btn-success">Reset Password</button>
            </form>
        {% endif %}
        <br>
    </div>
    <script src="{% static 'js/password.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>