{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Create New Account</title>
    <link href="{% static 'css/buttonlikelink.css' %}" rel="stylesheet">    
</head>
<body>
    <br><br>
    <div class="container" style="background-color: rgba(112, 255, 219, 0.062);">
        <br>
        <h4 style="text-align: center;"><a href="{% url 'home' %}" style="color: black;">AIYAGRAMART </a>|<u> Create A New Account</u></h4>
        {% if email_verification %}
            <form action="{% url 'emailverification' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" required aria-describedby="idd">
                {% if email_matched %}
                <div id="idd" class="form-text">
                  This email is already registered, try another email.
                </div>
                {% endif %}
                </div>
                <button type="submit" class="btn btn-success">Send OTP</button>
                <a href="#" style="float: right;" data-bs-toggle="modal" data-bs-target="#loginform">Already have an account? Login</a>
            </form>

            <div class="modal fade" id="loginform" tabindex="-1" aria-labelledby="LoginLable" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="LoginLable">Login</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="UserEmail" class="form-label">Username or Email address</label>
                          <input type="email" class="form-control" id="UserEmail" name="UserEmail" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your username/email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="check">
                          <label class="form-check-label" for="check">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-success">Login</button>
                        <a class="nav-link" style="float: right;" href="{% url 'signup_page' %}">Create account</a>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        {% endif %}

        {% if otp_verification %}
            <form action="{% url 'otpverification' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="otp" class="form-label">Enter the OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" aria-describedby="otp_1"  required>
                    <div id="otp_1" class="form-text">
                        {% if wrong_otp %}
                            OTP doesn't matched, Try Again, 
                        {% endif %}
                        {% if time_exceeded %}
                            OTP has been expired, we have sent a new otp to your email, check it and re enter otp. 
                        {% else %}
                            Expires in 10 minutes.
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Verify OTP</button>
            </form>
            <form action="{% url 'emailverification' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="email" value={{email}}>
                <button type="submit" id="mybutton" style="float: right;">Resend OTP</button>
            </form>
            <br>
        {% endif %}

        {% if signup_details %}
            <form action="{% url 'signupdetails' %}" method="POST">
                {% csrf_token %}
                {% if prev %}
                  <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" value={{prev_username}} required aria-describedby="user">
                  {% if username_matched %}
                  <div id="user" class="form-text">
                    This username already exists, try a new one.
                  </div>
                  {% endif %}
                  </div>
                  <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" value={{email}} readonly aria-describedby="emailid">
                  </div>
                  <div class="mb-3">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstname" name="first_name" value={{prev_first_name}} required>
      
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname" name="last_name" value={{prev_last_name}} required>
                  </div>
                {% else %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value={{email}} readonly>
                    </div>
                    <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="first_name" required>
        
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="last_name" required>
                    </div>
                {% endif %}
                <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password1" id="password1" aria-describedby="passwordHelpBlock" required>
                <div id="passwordHelpBlock" class="form-text">
                    {% if password_error %}
                      {{error}}
                    {% else %}
                      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    {% endif %}
                </div>
                </div>
                <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" id="password2" required>
                </div>
                <button type="submit" class="btn btn-success">Create Account</button>
            </form>
        {% endif %}
        <br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>